@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/zen-maru-gothic/ZenMaruGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/zen-maru-gothic/ZenMaruGothic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/zen-maru-gothic/ZenMaruGothic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/zen-maru-gothic/ZenMaruGothic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/zen-maru-gothic/ZenMaruGothic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background: #e8d5f4 !important;
  font-family: "Zen Maru Gothic";
}

* {
  font-family: "Zen Maru Gothic";
}
